<div id="sobre-mi" class="container">
  <div id="info-personal">

    <h3>Sobre mí</h3>

    <figure class="experience-img">
      <img src="assets/me.jpg" alt="">
    </figure>

    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolorem aperiam
      laudantium recusandae vel
      quae
      modi eum, officia sed, assumenda sapiente reiciendis veritatis nam cum eveniet voluptatem similique dolor labore.
    </p>
  </div>

  <hr>

  <div id="educacion">
    <h3>Educación</h3>

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="assets/no-preview-available.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/no-preview-available.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/no-preview-available.png" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolorem aperiam laudantium recusandae vel
      quae
      modi eum, officia sed, assumenda sapiente reiciendis veritatis nam cum eveniet voluptatem similique dolor labore.
    </p>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="assets/no-preview-available.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/no-preview-available.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/no-preview-available.png" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolorem aperiam laudantium recusandae vel
      quae
      modi eum, officia sed, assumenda sapiente reiciendis veritatis nam cum eveniet voluptatem similique dolor labore.
    </p>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="assets/no-preview-available.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/no-preview-available.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/no-preview-available.png" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolorem aperiam laudantium recusandae vel
      quae
      modi eum, officia sed, assumenda sapiente reiciendis veritatis nam cum eveniet voluptatem similique dolor labore.
    </p>

  </div>

  <hr>

  <div id="hobbies">

    <h3>Hobbies</h3>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img src="assets/no-preview-available.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
