<div id="sobre-mi" class="container">
  <div id="info-personal">

    <h4>Sobre mí</h4>

    <figure class="experience-img">
      <img src="assets/me.jpg" alt="Selfie mía." title="Selfie mía.">
    </figure>

    <p class="text-center">
      Que onda, me llamo Luis Francisco Hinojos Gastélum y soy originario de Ciudad
      Obregón, Sonora. Tierra del calor, hot-dogs, baseball y la carne asada.
      Como Ingeniero de Software me gusta mucho el desarrollo
      de frontend, el trabajo en equipo y la creación de nuevos proyectos.
      Estoy en busca de nuevas experiencias y oportunidades laborales
      que me insiten a seguir aprendiendo.
    </p>
    <p class="text-center">
      Tengo mayor experiencia radica en frameworks
      como Ionic o Angular, aplicando diseños responsivos que sigan los principios
      de usabilidad para ayudar con el SEO y mejorar la experiencia de usuario.

    </p>
    <p class="text-center">
      En el futuro cercano me gustaría aprender más sobre React (también React Native),
      VueJS y Flutter, así como procesos de DevOps profesionales que me ayuden a
      ser un desarrollador más completo.
    </p>
  </div>

  <hr>

  <div id="educacion">
    <h4>Educación</h4>

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/no-preview-available.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/no-preview-available.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/no-preview-available.png" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>

    <p>
      Soy egresado del Instituto Tecnológico de Sonora de la generación 2015-2019 de Ingeniería en Software.
      Durante ese tiempo formé parte de la sociedad de alumnos de mi carrera y del Consejo
      Directivo donde me divertí, además aprendí muchas cosas ayudando al programa educativo y a la institución.
    </p>
    <p>
      Me relacioné con muchos profesores que fomentaron mi entusiasmo por el desarrollo de software
      y amistades con las que pasé momentos de mucha diversión.
    </p>
    <p>
      Con algunos me asosié para formar un grupo de desarrollo independiente con quienes más adelante realizamos
      nuestras prácticas profesionales en un programa de emprendimiento de la universidad.
      Nos llamamos "Guachapori Technology" y llegamos a realizar un par de proyectos.
    </p>

  </div>

  <hr>

  <div id="hobbies">

    <h4>Hobbies</h4>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img src="assets/no-preview-available.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
