<div id="sobre-mi" class="container">
  <div id="info-personal">

    <h4>Sobre mí</h4>

    <figure class="experience-img">
      <img src="assets/me.jpg" alt="Selfie mía." title="Selfie mía.">
    </figure>

    <p class="text-center">
      Que onda, me llamo Luis Francisco Hinojos Gastélum y soy originario de Ciudad
      Obregón, Sonora. Tierra del calor, hot-dogs, baseball y la carne asada.
      Como Ingeniero de Software me gusta mucho el desarrollo
      de frontend, el trabajo en equipo y la creación de nuevos proyectos.
      Estoy en busca de nuevas experiencias y oportunidades laborales
      que me insiten a seguir aprendiendo.
    </p>
    <p class="text-center">
      Tengo mayor experiencia radica en frameworks
      como Ionic o Angular, aplicando diseños responsivos que sigan los principios
      de usabilidad para ayudar con el SEO y mejorar la experiencia de usuario.

    </p>
    <p class="text-center">
      En el futuro cercano me gustaría aprender más sobre React (también React Native),
      VueJS y Flutter, así como procesos de DevOps profesionales que me ayuden a
      ser un desarrollador más completo.
    </p>
  </div>

  <hr>

  <div id="educacion">
    <h4>Educación</h4>

    <p>
      Soy egresado del Instituto Tecnológico de Sonora de la generación 2015-2019 de Ingeniería en Software.
      Durante ese tiempo formé parte de la sociedad de alumnos de mi carrera y del Consejo
      Directivo donde me divertí, además aprendí muchas cosas ayudando al programa educativo y a la institución.
    </p>

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <figure>
            <img src="assets/about-me/part a (1).jpg" class="d-block w-100" alt="...">
          </figure>
          <div class="carousel-caption d-md-block">
            <p>Cierre de academias Mayo 2019.</p>
          </div>
        </div>
        <div class="carousel-item">
          <figure>
            <img src="assets/about-me/part a (2).jpg" class="d-block w-100" alt="...">
          </figure>
          <div class="carousel-caption d-md-block">
            <p>Visita organizada a empresa en Jalisco (2017).</p>
          </div>
        </div>
        <div class="carousel-item">
          <figure>
            <img src="assets/about-me/part a (3).jpg" class="d-block w-100" alt="...">
          </figure>
          <div class="carousel-caption d-md-block">
            <p>Visita organizada a CINVESTAV Jalisco (2017).</p>
          </div>
        </div>
        <div class="carousel-item">
          <figure>
            <img src="assets/about-me/part b (3).jpg" class="d-block w-100" alt="...">
          </figure>
          <div class="carousel-caption d-md-block">
            <p>Cierre de academias Mayo 2017.</p>
          </div>
        </div>
      </div>
    </div>

    <p>
      Conocí muchos profesores que fomentaron mi entusiasmo por el desarrollo de software
      y amistades con las que pasé momentos muy divertidos.
    </p>

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <figure>
            <img src="assets/about-me/part b (1).jpg" class="d-block w-100" alt="...">
          </figure>
          <div class="carousel-caption d-md-block">
            <p>Grupo Gachapori Technology.</p>
          </div>
        </div>
        <div class="carousel-item">
          <figure>
            <img src="assets/about-me/part b (2).jpg" class="d-block w-100" alt="...">
          </figure>
          <div class="carousel-caption d-md-block">
            <p>Junto a mi sínodo de mi examen profesional.</p>
          </div>
        </div>
        <div class="carousel-item">
          <figure>
            <img src="assets/about-me/part a (4).jpg" class="d-block w-100" alt="...">
          </figure>
          <div class="carousel-caption d-md-block">
            <p>Quinta Semana ISW en ITSON (2017)</p>
          </div>
        </div>
      </div>
    </div>

    <p>
      Con algunos amigos me asosié para formar un grupo de desarrollo independiente con quienes más adelante realizamos
      nuestras prácticas profesionales en un programa de emprendimiento de la universidad.
      Nos llamamos "Guachapori Technology" y llegamos a realizar un par de proyectos independientes.
    </p>

  </div>

  <hr>

  <div id="hobbies">
    <h4>Cosas que me gustan</h4>
    <div class="row">
      <div class="col-6 col-sm-4 col-lg-3">
        <a href="https://www.pokemon.com" target="_blank">
          <figure>
            <img src="assets/about-me/pokemon.gif" alt="Son solo 150 o más que ver" title="La mayor franquicia del mundo.">
            <figcaption>Pokémon</figcaption>
          </figure>
        </a>
      </div>
      <div class="col-6 col-sm-4 col-lg-3">
        <a href="https://www.marinela.com.mx/gansito" target="_blank">
          <figure>
            <img src="assets/about-me/gansito.png" alt="belleza divina" title="El mejor pastelito del mundo se disfruta mejor congelado.">
            <figcaption>Los gansitos</figcaption>
          </figure>
        </a>
      </div>
      <div class="col-6 col-sm-4 col-lg-3">
        <a href="https://www.nintendo.com" target="_blank">
          <div class="infiniteScroll" id="nintendo" title="Smash Bros Ultimate es el mejor juego de todos los tiempos."></div>
          <p>Videojuegos en general</p>
        </a>
      </div>
      <div class="col-6 col-sm-4 col-lg-3">
        <a href="https://www.imdb.com/movies-in-theaters/" target="_blank">
          <figure>
            <img src="assets/about-me/peliculas.gif" alt="gif Shia LaBeouf en el cine" title="Me encanta el cine, tanto palomeras como de culto.">
            <figcaption>Ver películas</figcaption>
          </figure>
        </a>
      </div>
      <div class="col-6 col-sm-4 col-lg-3">
        <a href="https://www.udemy.com/share/100F3uBEcbeF5QR3Q=/?xref=E0YfcVdSR34JSWUuAAcqP1kSWSRM" target="_blank">
          <figure>
            <img src="assets/about-me/learning.gif" alt="gif perro bonito en la PC" title="Quisiera coleccionar certificados de Udemy.">
            <figcaption>Aprender cosas nuevas en internet</figcaption>
          </figure>
        </a>
      </div>
      <div class="col-6 col-sm-4 col-lg-3">
        <a href="https://open.spotify.com/playlist/7yqLZpFA6StjohspaxW5Wt?si=439NZzE4Q2mP1udhEX8xVw" target="_blank">
          <figure>
            <img src="assets/about-me/concierto.gif" alt="gif concieto Bunbury" title="Enrique Bunbury es mi ídolo. Comparto Playlist de Spotify.">
            <figcaption>Escuchar música</figcaption>
          </figure>
        </a>
      </div>
      <div class="col-6 col-sm-4 col-lg-3">
        <a href="https://www.marvel.com/comics" target="_blank">
          <figure>
            <img src="assets/about-me/comics.gif" alt="gif de Sheldon Cooper" title="Mis favoritos son los X-Men y los Guardianes de la Galaxia.">
            <figcaption>Leer cómics</figcaption>
          </figure>
        </a>
      </div>
      <div class="col-6 col-sm-4 col-lg-3">
        <a href="https://www.amazon.com/Board-Games/b?ie=UTF8&node=166225011" target="_blank">
          <figure>
            <img src="assets/about-me/boardgame.gif" alt="gif de Daria" title="Mis favoritos son Risk y Monopoly.">
            <figcaption>Juegos de mesa</figcaption>
          </figure>
        </a>
      </div>
      <div class="col-6 col-sm-4 col-lg-3">
        <a href="https://play.megaconstrux.com/en-ca/worlds/pokemon" target="_blank">
          <figure>
            <img src="assets/about-me/legos.jpg" alt="Set Venusaur & Beedril megaconstrux" title="El set más chilo.">
            <figcaption>Armar "Legos"</figcaption>
          </figure>
        </a>
      </div>
    </div>
  </div>
</div>
