<div id="home" class="d-flex flex-column text-center"><!-- ">-->
 <div id="home-content" class="container">
   <h1>Luis Hinojos</h1>
   <h2>Ingeniero en software</h2>
   <button class="btn btn-primary btn-block">Contáctame</button>
   <button class="btn btn-warning btn-block">Descarga mi CV</button>
  </div>
</div>

<div id="skills">
  <h3>Habilidades técnicas</h3>
  <div id="skills-mobile" class="container">
    <nav class="nav-fill">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
          aria-controls="nav-home" aria-selected="true">Avanzado</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
          aria-controls="nav-profile" aria-selected="false">Medio</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
          aria-controls="nav-contact" aria-selected="false">Básico</a>
      </div>
    </nav>
    <div class="tab-content mt-2" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="row">
            <div class="col-6">
              <figure class="skills-img">
                <img src="assets/no-preview-available.png" alt="">
              </figure>
            </div>
            <div class="col-6">
              <figure class="skills-img">
                <img src="assets/no-preview-available.png" alt="">
              </figure>
            </div>
            <div class="col-6">
              <figure class="skills-img">
                <img src="assets/no-preview-available.png" alt="">
              </figure>
            </div>
            <div class="col-6">
              <figure class="skills-img">
                <img src="assets/no-preview-available.png" alt="">
              </figure>
            </div>
            <div class="col-6">
              <figure class="skills-img">
                <img src="assets/no-preview-available.png" alt="">
              </figure>
            </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">.2..</div>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">..3.</div>
    </div>
  </div>
</div>

<div id="experience">
  <h3>Experiencia</h3>
  <div class="container">
    <figure class="experience-img">
      <img src="assets/no-preview-available.png" alt="">
    </figure>
    <p>Titulo</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, nostrum mollitia? Sequi, explicabo placeat
      deserunt consequuntur voluptates distinctio ad sint accusantium mollitia illo optio error eligendi odit
      praesentium eius ducimus.</p>
  </div>
</div>
