<div class="container">

  <div id="about-site">
    <h2 class="text-center">¿Cómo hice este sitio?</h2>
    <hr>
    <h3 class="h3-title">Planeación</h3>
    <p>
      La idea detrás de este sitio es que funcione como portafolio de mi trabajo, demostrar de forma visible las cosas
      que se hacer,
      así como un medio para aplicar nuevos conocimientos conforme vaya aprendiendo nuevas y mejores herramientas.
    </p>
    <p>
      Antes de comenzar a diseñar el sitio decidí qué las cosas quería mostrar fueron:
    </p>
    <ul>
      <li>El mostrar de forma gráfica mis habilidades.</li>
      <li>Dejar a la mano mi CV y una forma más para contactarme.</li>
      <li>Mostrar un poco de mi experiencia como ingeniero.</li>
      <li>Dar a conocer un poco más sobre quién soy.</li>
      <li>Exponer de forma breve el desarrollo del sitio.</li>
      <li>Que se viera bien tanto en dispositivos móviles como en pantallas grandes.</li>
    </ul>
    <hr>
    <h3 class="h3-title">Diseño</h3>

    <p>
      Para el diseño del sitio utilicé <a href="https://ninjamock.com/s/B5QMRFx"
        title="Pulsa para ver el diseño del sitio!">NinjaMock</a> para realizar los mockups del sitio. Me gusta mucho
      porque te permite diseñar interfaces gráficas de manera rápida y sencilla, además de poder jugar con los tamaños
      entre dispositivos y simular la navegación del sitio.
    </p>
    <p>
      Para las fuentes opté por Google Fonts ya que ofrecen una amplia selección de fuentes de uso libre para usar en el
      sitio.
      En los títulos se utiliza la fuente Serif llamada <a href="https://fonts.google.com/specimen/Merriweather"
        title="Haz click para ver más sobre esta fuente">Merriweather</a>, para textos y demás se usa la fuente Sans
      Serif llamada <a href="https://fonts.google.com/specimen/Oswald"
        title="Haz click para ver más sobre esta fuente">Oswald</a>.
      Las escogí porque me gustó como se ve mi nombre escrito en ellas.
    </p>
    <p>
      Para escoger la paleta de colores primero busqué tonos azules en la web de <a
        href="https://www.pantone.com/color-finder/661-C" title="Sitio del tono azul en la web de Pantone">Pantone</a>
      después de seleccionar uno que me gustó usé el sitio de <a
        href="http://paletton.com/#uid=63I0u0k++rXUPZA+VCs+Xml+Bgj"
        title="Pulsa para ver y jugar con la paleta de colores">Paletton</a> para descubrir los tonos adyacentes y los
      complementarios.
    </p>
    <div class="colorPallete">
      <div class="row colorRow">
        <div class="colorDiv bg-primary-1 color-white">#055CFB</div>
        <div class="colorDiv bg-primary-2 color-white">#0043BD</div>
        <div class="colorDiv bg-primary-0 color-white">#003494</div>
        <div class="colorDiv bg-primary-3 color-white">#002A76</div>
        <div class="colorDiv bg-primary-4 color-white">#001F56</div>
      </div>
      <div class="row colorRow">
        <div class="colorDiv bg-secondary-1-1 color-white">#3606FC</div>
        <div class="colorDiv bg-secondary-1-2 color-white">#2600C2</div>
        <div class="colorDiv bg-secondary-1-0 color-white">#1E009A</div>
        <div class="colorDiv bg-secondary-1-3 color-white">#18007B</div>
        <div class="colorDiv bg-secondary-1-4 color-white">#12005A</div>
      </div>
      <div class="row colorRow">
        <div class="colorDiv bg-secondary-2-1">#00FBE0</div>
        <div class="colorDiv bg-secondary-2-2">#00B5A2</div>
        <div class="colorDiv bg-secondary-2-0">#008A7C</div>
        <div class="colorDiv bg-secondary-2-3 color-white">#006F63</div>
        <div class="colorDiv bg-secondary-2-4 color-white">#005148</div>
      </div>
      <div class="row colorRow">
        <div class="colorDiv bg-complement-1">#FFA500</div>
        <div class="colorDiv bg-complement-2">#FFA500</div>
        <div class="colorDiv bg-complement-0">#DF9100</div>
        <div class="colorDiv bg-complement-3 color-white">#B27400</div>
        <div class="colorDiv bg-complement-4 color-white">#825400</div>
      </div>
      <p class="text-center">Paleta de colores del sitio.</p>
    </div>

    <hr>

    <h3 class="h3-title">Desarrollo</h3>

    <p>
      Actualmente el sitio se encuentra desarrollado en Angular y está alojado en un repositorio en
      <a href="https://github.com/elluishinojos/SitioPersonal" title="Checa el repo del proyecto!">Github</a>.
      Para apoyarme con los estilos utilicé Bootstrap, además de FontAwesome para el manejo de íconos.
      Decidí usar estas herramientas porque tengo bastante familiaridad con ellas.
    </p>
    <p>
      Se siguieron principios de diseño web como responsive design y mobile-first, así como nociones de usabilidad para
      evitar dar una mala experiencia de usuario.
      Se implementó Google Analytics para observar y analizar el progreso del sitio. Provicionalmente la información
      recolectada en los formularios de contacto se almacena en una base de datos en Firebase.
    </p>

    <hr>

    <h3 class="h3-title">Despliegue</h3>

    <p>
      Como se puede observar, este sitio se encuentra hosteado en Github Pages.
      Siendo honesto me gustó mucho lo sencillo que es de utilizar.
      Espero en un futuro cercano adquirir un dominio personal en el cual alojar la aplicación para poder integrar más funcionalidades.
    </p>

    <hr>

    <h3 class="h3-title">Siguientes pasos</h3>
    <p>Objetivos a implementar sin orden en específico:</p>
    <ul>
      <li>Conseguir un dominio donde hostear este sitio.</li>
      <li>Internacionalizar el sitio usando i18n.</li>
      <li>Compartir playlists hechas por mi con la API de Spotify.</li>
      <li>Desarrollar una app en la cual administrar los mensajes recibidos.</li>
      <li>Centralizar todo lo centralizable.</li>
    </ul>

  </div>

</div>
