<div class="container">

  <div id="about-site">
    <h2 class="text-center">¿Cómo realicé este sitio?</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ullam debitis numquam eaque? Qui architecto
      aliquid quos suscipit id voluptatem voluptate magni, asperiores nisi. Molestiae cupiditate eaque ullam iusto
      laboriosam?</p>
    <h3 class="h3-title">Planeación</h3>

    <figure class="experience-img">
      <img src="assets/no-preview-available.png" alt="">
    </figure>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolorem aperiam laudantium recusandae vel
      quae
      modi eum, officia sed, assumenda sapiente reiciendis veritatis nam cum eveniet voluptatem similique dolor labore.
    </p>
    <hr>
    <h3 class="h3-title">Diseño</h3>

    <figure class="experience-img">
      <img src="assets/no-preview-available.png" alt="">
    </figure>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolorem aperiam laudantium recusandae vel
      quae
      modi eum, officia sed, assumenda sapiente reiciendis veritatis nam cum eveniet voluptatem similique dolor labore.
    </p>

    <hr>
    <h3 class="h3-title">Desarrollo</h3>

    <figure class="experience-img">
      <img src="assets/no-preview-available.png" alt="">
    </figure>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolorem aperiam laudantium recusandae vel
      quae
      modi eum, officia sed, assumenda sapiente reiciendis veritatis nam cum eveniet voluptatem similique dolor labore.
    </p>
    <hr>
    <h3 class="h3-title">Despliegue</h3>

    <figure class="experience-img">
      <img src="assets/no-preview-available.png" alt="">
    </figure>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolorem aperiam laudantium recusandae vel
    quae
    modi eum, officia sed, assumenda sapiente reiciendis veritatis nam cum eveniet voluptatem similique dolor labore.
  </p>

</div>

</div>
