<div class="container">

  <div>

    <h3>Planeación</h3>

    <figure class="experience-img">
      <img src="assets/no-preview-available.png" alt="">
    </figure>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolorem aperiam laudantium recusandae vel
      quae
      modi eum, officia sed, assumenda sapiente reiciendis veritatis nam cum eveniet voluptatem similique dolor labore.
    </p>
  </div>
  <hr>
  <div>
    <h3>Diseño</h3>

    <figure class="experience-img">
      <img src="assets/no-preview-available.png" alt="">
    </figure>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolorem aperiam laudantium recusandae vel
      quae
      modi eum, officia sed, assumenda sapiente reiciendis veritatis nam cum eveniet voluptatem similique dolor labore.
    </p>

  </div>
  <hr>
</div>
