<div id="home" class="d-flex flex-column text-center">

  <figure class="bg-home">
    <img id="img-top" src="assets/triangles-png-46467.png" alt="">
  </figure>

  <figure class="bg-home">
    <img id="img-bottom" src="assets/triangles-png-46467.png" alt="">
  </figure>
  <div id="home-content" class="container">
    <h1>Luis Hinojos</h1>
    <h2>Ingeniero en software</h2>
    <button class="btn btn-alt btn-block" (click)="openModal()">Contáctame</button>
    <button class="btn btn-main btn-block">Descarga mi CV</button>
  </div>
</div>
