<div id="home" class="d-flex flex-column text-center">

  <figure class="bg-home">
    <img id="img-top" src="assets/triangles-png-46467.png" alt="">
  </figure>

  <figure class="bg-home">
    <img id="img-bottom" src="assets/triangles-png-46467.png" alt="">
  </figure>
  <div id="home-content" class="container">
    <h1>Luis Hinojos</h1>
    <h2>Ingeniero en software</h2>
    <div id="home-buttons" class="w-100">
      <button class="btn btn-alt btn-block" (click)="openModal()">Contáctame</button>
      <a class="btn btn-main btn-block" href="https://docs.google.com/presentation/d/1FfrdizS8ytOadUdOepqVHUt7eNdllil4VkVDMq7u-sk/edit?usp=sharing" target="_blank">Descarga mi CV</a>
    </div>
  </div>
</div>
