<div id="experience">
  <div class="container">
    <div id="tituloDiv">
      <h3>Experiencia</h3>
    </div>
    <hr>
    <div class="placeExpDiv">
      <h4 class="h3-title text-center">Guachapori Technology</h4>
    </div>
    <p class="tituloExp">App de Gasolina a Domicilio</p>
    <p class="subtituloExp"><small>(Enero 2019 - Mayo 2019)</small></p>

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="assets/app-gasoline (1).png" target="_blank">
            <figure>
              <img src="assets/app-gasoline (1).png" class="d-block w-100" alt="...">
            </figure>
          </a>
        </div>
        <div class="carousel-item">
          <a href="assets/app-gasoline (2).png" target="_blank">
            <figure>
              <img src="assets/app-gasoline (2).png" class="d-block w-100" alt="...">
            </figure>
          </a>
        </div>
        <div class="carousel-item">
          <a href="assets/app-gasoline (3).png" target="_blank">
            <figure>
              <img src="assets/app-gasoline (3).png" class="d-block w-100" alt="...">
            </figure>
          </a>
        </div>
      </div>
    </div>
    <div class="descripcionExp">

      <p>Diseño y desarrollo de un mínimo producto viable para una Startup de entrega de gasolina a
        domicilio donde se utilizó el framework MEAN (Mongo, Express, Angular y Node). Consistió en dos aplicaciones
        móviles
        hechas en Ionic 3 (una para consumidores y otra para los repartidores) y un sitio administrativo hecho en
        Angular.
      </p>
      <p>
        Actividades realizadas:
      </p>
      <ul>
        <li>Diseño y desarrollo del frontend de las apps y del sitio.</li>
        <li>Diseño arquitectónico de las apps y del sitio.</li>
        <li>Gestión y administración del equipo de trabajo durante el proyecto.</li>
        <li>Participación en las juntas con el cliente al final de cada sprint.</li>
      </ul>
    </div>
    <p class="tituloExp">Augmented Reality mobile application for
      books.</p>
    <p class="subtituloExp"> <small>(Agosto 2018 - Diciembre 2018)</small></p>

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="assets/ra-app (1).jpeg" target="_blank">
            <figure>
              <img src="assets/ra-app (1).jpeg" class="d-block w-100" alt="...">
            </figure>
          </a>
        </div>
        <div class="carousel-item">
          <a href="assets/ra-app (2).jpeg" target="_blank">
            <figure>
              <img src="assets/ra-app (2).jpeg" class="d-block w-100" alt="...">
            </figure>
          </a>
        </div>
        <div class="carousel-item">
          <a href="assets/ra-app (3).jpeg" target="_blank">
            <figure>
              <img src="assets/ra-app (3).jpeg" class="d-block w-100" alt="...">
            </figure>
          </a>
        </div>
      </div>
    </div>

    <div class="descripcionExp">
      <p>Desarrollo de una aplicación para a personas con problemas de audición a leer libros a través de la realidad
        aumentada
        interactuando con un libro físico y la cámara del celular. Fue desarrollado usando Unity 3D y Vuforia.
      </p>
      <p>
        Actividades realizadas:
      </p>
      <ul>
        <li>Diseño y desarrollo del frontend de la app.</li>
        <li>Gestión y administración del equipo de trabajo durante el proyecto.</li>
      </ul>
    </div>

    <div class="placeExpDiv">
      <h4 class="h3-title text-center">ITSON</h4>
    </div>
    <p class="tituloExp">Sitio web para arrendamiento de departamentos.</p>
    <p class="subtituloExp"> <small>(Agosto 2018 - Diciembre 2018)</small></p>

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="assets/app-depa (1).png" target="_blank">
            <figure>
              <img src="assets/app-depa (1).png" class="d-block w-100" alt="...">
            </figure>
          </a>
        </div>
        <div class="carousel-item">
          <a href="assets/app-depa (2).png" target="_blank">
            <figure>
              <img src="assets/app-depa (2).png" class="d-block w-100" alt="...">
            </figure>
          </a>
        </div>
        <div class="carousel-item">
          <a href="assets/app-depa (3).png" target="_blank">
            <figure>
              <img src="assets/app-depa (3).png" class="d-block w-100" alt="...">
            </figure>
          </a>
        </div>
      </div>
    </div>

    <div class="descripcionExp">

      <p>
        Diseño y desarrollo de un sitio web para arrendamiento de departamentos como parte de un proyecto de prácticas
        profesionales donde para el desarrollo se utilizó NodeJs y MongoDB para el backend, así como un sitio maquetado
        con bootstrap 4 para el frontend.
      </p>
      <p>
        Para la gestión del desarrolló se siguió la metodología de Design Thinking y Lean Startup.
        Este proyecto fue presentado frente a un panel de empresarios de la localidad como parte del programa de
        emprendimiento de la Universisdad: 'De ideas a
        negocios'.
      </p>
      <p>
        Actividades realizadas:
      </p>
      <ul>
        <li>Diseño y desarrollo del frontend, la arquitectura y la idea de negocio del sitio.</li>
        <li>Gestión y administración del equipo de trabajo durante el proyecto.</li>
        <li>Pitch de la idea de negocio frente al panel de inversionistas.</li>
      </ul>
    </div>
  </div>
</div>
