<footer>
  <div class="container text-center">
    <div id="social-icons">
      <a href="https://www.facebook.com/ElLuisHinojos" target="_blank">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://www.linkedin.com/in/luis-francisco-hinojos-0bb978139/" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/elluishinojos" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <p>{{anio}} - Luis Francisco Hinojos Gastélum</p>
    <p>El material en este sitio no puede reproducirse, distribuirse, transmitirse, almacenarse en caché o utilizarse de otra manera, excepto con el permiso previo por escrito del propietario.</p>
  </div>
</footer>
