<footer>
  <div class="container text-center">
    <div id="social-icons">
      <a href="https://www.facebook.com/ElLuisHinojos" target="_blank">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://www.linkedin.com/in/luis-francisco-hinojos-0bb978139/" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/elluishinojos" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <p>2019 - Luis Francisco Hinojos Gastélum ©</p>
    <p>The material on this site may not be reproduced, distributed, transmitted, cached or otherwise used, except with the prior written permission of the owner.</p>
  </div>
</footer>
